.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  position: relative;
  z-index: 10;
}

.featureSvg {
  height:100px;
  width:100px;
  margin-bottom:1rem;
}

.features p {
  color: var(--secondary-text);
}
